.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;border-radius: 5px;
}
#box1{
    background-color: rgb(63, 165, 42);
}#box2{
    background-color: rgb(42, 61, 165);
}#box3{
    background-color: rgb(151, 42, 165);
}#box4{
    background-color: brown;
}
.container{ display: flex;flex-direction: row;justify-content: space-evenly;border: 10px solid black;}